// /styles/carousel.scss
.carousel-image-container {
  position: relative; // Nécessaire pour le composant Image
  width: 100%;
  cursor: pointer;
}

.carousel-image {
  width: 100%; // Utilisez 100% pour s'adapter au conteneur
  height: auto; // Maintient les proportions de l'image
  transition: transform 0.3s ease;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 800px; // Ajustez selon vos besoins
  margin: 0 auto; // Centre le conteneur horizontalement
  overflow: hidden; // Assure que le contenu ne déborde pas
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.carousel-button {
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.left {
  left: 5%;
}

.right {
  right: 5%;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  background: gray;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background: black;
}

.zoom-controls {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 10px;
}

.fullscreen-container {
  position: fixed; // Fixe le conteneur en plein écran
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); // Fond sombre pour le plein écran
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000; // Assure que le conteneur est au-dessus des autres éléments
}
.fullscreen-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s ease;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 1001;

}